In [10]:
from faker import Faker
import pandas as pd
from laundromat.spacy.spacy_model import SpacyModel
from faker.providers.credit_card import Provider as CreditCardProvider ##Add creditcards to faker

In [11]:
fake = Faker(['no_NO']) #create a faker with norwgian Name and structures

#faker calls you will need:
fake.name(),fake.address(),fake.ssn(),fake.credit_card_number(),fake.ipv4()

('Odd Ødegård',
 'Kristensenrøa 34, 3964 Bøe',
 '21067204163',
 '30545540048863',
 '75.106.145.241')

In [13]:
#create a empty data frame 

df = pd.DataFrame(columns=['Navn','Adresse', 'PersonNr','CreditCard','ipv4']) 
df

Empty DataFrame
Columns: [Navn, Adresse, PersonNr, CreditCard, ipv4]
Index: []

In [14]:
#how to add data to a data frame in a for loop:
# 
for _ in range(100):  # Opprett 100 faker-personer
    name = fake.name()
    address = fake.address()
    ssn = fake.ssn()
    credit_card_number = fake.credit_card_number()
    ipv4 = fake.ipv4()

    # Legg til data i DataFrame
    df.loc[len(df)] = [name, address, ssn, credit_card_number, ipv4]

In [16]:
df.head(3)

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Marte Johnsen-Rasmussen,"Kristensenvika 89, 4143 Idafjell",10087742259,2707353797662827,126.239.113.171
1,Erik Solheim,"Arnesenlia 49, 2199 Bøe",22127436464,4489448158334766,83.25.116.78
2,Karen-Eli Fredriksen,"Gundersenvika 74, 1224 Kennethstad",02058342907,2247039341054184,56.198.50.151

In [18]:
# Opprett en SpacyModel
nlp = SpacyModel()
textArray = []  # Lag en liste med tekststrenger som du vil anonymisere

# Utfør en for-løkke og tilordne verdier til name og adress
for index, row in df.iterrows():
    name = row[0] 
    address = row[1]
    ssn = row[2]
    cc = row[3]
    # Bruk f-streng for å opprette en ny tekststreng med verdiene, og
    # legg til denne strengen i textArray
    textArray.append(f'Hi, my name is {name}. I wonder if you deliver to {address}. My credit card nr is {cc} and my ssn is {ssn}')

NameError: name 'SpacyModel' is not defined

In [ ]:
# Loop gjennom tekstene og bruk Laundromat for å erstatte personlig informasjon med "entity"
for line in textArray:
    entities = nlp.predict(line)
    replaced_text_1 = nlp.replace(line, replacement="entity", replacement_char=":^)")
    print(line)
    print(replaced_text_1 + '\n')