In [13]:
from faker import Faker
import pandas as pd
#from laundromat.spacy.spacy_model import SpacyModel not working I try everything
from faker.providers.credit_card import Provider as CreditCardProvider ##Add creditcards to faker

In [14]:
fake = Faker(['no_NO']) #create a faker with norwgian Name and structures

#faker calls you will need:
fake.name(),fake.address(),fake.ssn(),fake.credit_card_number(),fake.ipv4()

('Martin-Tommy Bakke',
 'Bakkenvollen 583, 3938 Lisedal',
 '12039707088',
 '30049942792194',
 '195.149.2.0')

In [15]:
#create a empty data frame 

df = pd.DataFrame(columns=['Navn','Adresse', 'PersonNr','CreditCard','ipv4']) 
df

Empty DataFrame
Columns: [Navn, Adresse, PersonNr, CreditCard, ipv4]
Index: []

In [16]:
#how to add data to a data frame in a for loop:
# 
for _ in range(100):  # Opprett 100 faker-personer
    name = fake.name()
    address = fake.address()
    ssn = fake.ssn()
    credit_card_number = fake.credit_card_number()
    ipv4 = fake.ipv4()

    # Legg til data i DataFrame
    df.loc[len(df)] = [name, address, ssn, credit_card_number, ipv4]

In [8]:
df.head(3)

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Adrian Svendsen,"Jensenberget 36, 1130 Siljeodden",04055027051,630473734014,102.193.192.190
1,Unni Larsen,"Arnesenekra 7, 8657 Ingerstrøm",28063947158,3534806860133627,144.48.222.169
2,Magnus Eriksen,"Halvorsengropa 3H, 6010 Arnehamn",21024938740,6515901224100101,191.183.246.138